/*main color palette*/
:root {
    --dark: rgb(54, 68, 62);
    --light: rgb(238, 252, 246);
    --primary:rgb(44, 83, 66);
    --secondary: rgb(116, 158, 140);

}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--primary);
    background-color:var(--white);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light);
    color: var(--dark);

}

header h1 {
    font-size: xx-large;
    margin: 0;
    padding: 3%;
    border-radius: 0%;

}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 2%; 
    
}


nav a {
    padding: 5px;
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: var(--dark);
}

nav a:hover {
    color: rgb(65, 153, 95);
}

main { 

}



#about img {
    width: 250px; 
    height:350px;
    margin-left: auto;
    margin-right:auto ;
    display: block;
}

#about div {
    margin-left: auto;
    margin-right: auto ;
    width: 50%;
}

#about h2 {
   text-align: center;
}


.port-section {
    display:flex;
    flex-direction: row;
    padding: 15px;
    margin-top: 10px;
    margin-left: 9vw;
    margin-right: 9vw;
}

.flex-container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: flex-start;
    border: 5px solid var(--dark);
    height: 60vh;
}

.flex-item {
    display: flex;
    align-items: flex-end;

}

/*main project image*/
.flex-item:first-child {
    /* min-height: 100%;
    min-width: 100%; */

    /* flex-basis: 100%; */

}

/*mouse over project links*/
.flex-item:hover {
    
}

/*place holder images for "my work"*/

.Work-1 {
    background-image: url("../images/IMG_3372.jpg");
    background-size: 100%;
    width: 40vw;

}
.flex-container #row1, #row2 {
    display: flex;
    height: 50%;
}
#largediv {
    height: 100%;
    display: flex;
}
.Work-2 {
    background-image: url("../images/IMG_3531.jpg");
    width: 20vw;
}
.Work-3 {
    background-image: url("../images/IMG_4448.jpg");
    width: 20vw;
}

.Work-4 {
    background-image: url("../images/IMG_4532.jpg");
    width: 20vw;
}


.Work-5 {
    background-image: url("../images/IMG_5037.jpg");
    width: 20vw;
}

@media screen and (max-width: 700px) {
    .port-section {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #about {
        display: block;
    }   
    #about img {
        margin-left: auto;
        margin-right: auto;
    }
    #about h2 {
        text-align: center;
    }
    #about {
        text-align: center;
    }
}